.skeleton-shimmer {
  background: #1a1a1a;
  background-image: linear-gradient(
    to right,
    #1a1a1a 0%,
    #2a2a2a 20%,
    #1a1a1a 40%,
    #1a1a1a 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 100%; 
  animation-duration: 1.5s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
  border-radius: 4px;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }
  
  100% {
    background-position: 468px 0; 
  }
}
